/*body{  padding:50px 100px;  }*/

#classRow {
    padding: 10px 0;
}

#portamento_container #blogToc.relative {
    position: relative;
}

#docPageBody {
    margin: 0px;
    background-color: #FFF;
}