body{
    /*padding: 50px 100px;*/
    padding: 50px 10%;
    background: url("http://zhishi01-1253216462.costj.myqcloud.com/static/img/bgc.jpg") no-repeat #dddddd fixed;
    background-size: cover;
}